# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# IDE
CMakeLists.txt.user*
.idea

# Build-dir
build/
build-*/
bin/log.txt
bin/crash.log
bin/dbg.bin
bin/*.sav
bin/Gothic.ini
out/*

# internal
.vs/
internal/

# os
.DS_Store

# Doxigen
docs/html/
