[submodule "lib/Tempest"]
	path = lib/Tempest
	url = https://github.com/Try/Tempest.git
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "lib/TinySoundFont"]
	path = lib/TinySoundFont
	url = https://github.com/schellingb/TinySoundFont.git
[submodule "lib/phoenix"]
	path = lib/phoenix
	url = https://github.com/GothicKit/phoenix.git
	branch = main
