configuration:
  - release

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Previous Visual Studio 2019  # used as mingw
      GENERATOR:  "Ninja"
      RELEASABLE: true
      CC:         C:/ProgramData/mingw64/mingw64/bin/gcc.exe
      CXX:        C:/ProgramData/mingw64/mingw64/bin/g++.exe

    - APPVEYOR_BUILD_WORKER_IMAGE: macos-sonoma
      GENERATOR:  "Ninja"
      RELEASABLE: true

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      GENERATOR:  "Ninja"
      RELEASABLE: false
      VCVARSALL:  "C:/Program Files/Microsoft Visual Studio/2022/Community/VC/Auxiliary/Build/vcvarsall.bat"
      PLATFORM:   x64

    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu2004
      GENERATOR:  ""
      RELEASABLE: true

install:
- ps: >-
    $VK_SDK = '1.4.304.0'

    if($IsLinux) {
      sudo apt-get update
      sudo apt-get --yes install libvulkan-dev libasound2-dev libx11-dev libxcursor-dev
      # Vulkan SDK
      $env:VULKAN_SDK      = "$env:APPVEYOR_BUILD_FOLDER/VulkanSDK/$VK_SDK/x86_64"
      $env:VK_LAYER_PATH   = "$env:VULKAN_SDK/etc/vulkan/explicit_layers.d"
      $env:LD_LIBRARY_PATH = "$env:VULKAN_SDK/lib"
      Invoke-WebRequest -Uri https://sdk.lunarg.com/sdk/download/$VK_SDK/linux/vulkansdk-linux-x86_64-$VK_SDK.tar.xz -OutFile VulkanSDK.tar.xz
      mkdir VulkanSDK
      tar -xJf VulkanSDK.tar.xz -C ./VulkanSDK
      }

    if($IsWindows) {
      # debug
      # $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

      # Vulkan SDK
      $env:VULKAN_SDK = "C:/VulkanSDK/$VK_SDK"
      Invoke-WebRequest -Uri https://sdk.lunarg.com/sdk/download/$VK_SDK/windows/VulkanSDK-$VK_SDK-Installer.exe -OutFile VulkanSDK.exe
      ./VulkanSDK.exe --accept-licenses --default-answer --confirm-command install 1>$null
      }

    if($IsLinux) {
      # GLSL compiller
      mkdir glslang
      cd glslang
      Invoke-WebRequest -Uri https://github.com/KhronosGroup/glslang/releases/download/master-tot/glslang-master-linux-Release.zip -OutFile glslang-master.zip
      7z x glslang-master.zip
      cd ..
      $env:PATH += ":$env:APPVEYOR_BUILD_FOLDER/glslang/bin"
      }

    if($IsWindows) {
      mkdir glslang
      cd glslang
      Invoke-WebRequest -Uri https://github.com/KhronosGroup/glslang/releases/download/master-tot/glslang-master-windows-x64-Release.zip -OutFile glslang-master.zip
      7z x glslang-master.zip
      cd ..
      $env:PATH += ";$env:APPVEYOR_BUILD_FOLDER\glslang\bin"
      }

    if($IsMacOS) {
      brew install glslang
      }

before_build:
- ps: >-
    git submodule -q update --init --recursive

    mkdir build

    if($IsWindows) {
      # $env:PATH += ";C:/msys64/mingw64/bin"
      $env:PATH += ";C:/ProgramData/mingw64/mingw64/bin"
      choco install mingw --version 14.2.0 --force --no-progress
      }

    echo '#pragma once'                                                               | Out-File "game/build.h" -Encoding utf8

    echo "static const char* appBuild = `"OpenGothic v$env:APPVEYOR_BUILD_VERSION`";" | Out-File "game/build.h" -Encoding utf8 -Append

build_script:
  - cmake --version
  - cmd: if NOT "%VCVARSALL%" == "" call "%VCVARSALL%" %PLATFORM%
  - cmd: cmake -H. -Bbuild -G "%GENERATOR%" -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo -DCMAKE_SH=CMAKE_SH-NOTFOUND -DCMAKE_POLICY_VERSION_MINIMUM=3.5
  - sh:  cmake -H. -Bbuild                  -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo
  - cmake --build ./build --target Gothic2Notr

after_build:
- ps: >-
    cd build

    cd opengothic

    if($env:RELEASABLE) {
      $BASE_NAME = 'opengothic'
      } else {
      $BASE_NAME = 'devbuild'
      }

    if($IsWindows) {
      echo gothic-win64-v$env:APPVEYOR_BUILD_VERSION | Out-File "VERSION" -Encoding utf8
      cp "C:\ProgramData\mingw64\mingw64\bin\libgcc_s_seh-1.dll"   "libgcc_s_seh-1.dll"
      cp "C:\ProgramData\mingw64\mingw64\bin\libstdc++-6.dll"      "libstdc++-6.dll"
      cp "C:\ProgramData\mingw64\mingw64\bin\libwinpthread-1.dll"  "libwinpthread-1.dll"

      $NAME = $BASE_NAME + '_win.zip'
      7z a $NAME    VERSION
      7z a $NAME -r "*.exe"
      7z a $NAME -r "*.dll"
      7z a $NAME -r "*.bat"
      }

    if($IsLinux) {
      echo gothic-linux-v$env:APPVEYOR_BUILD_VERSION | Out-File "VERSION" -Encoding utf8

      $NAME = $BASE_NAME + '_linux.zip'
      7z a $NAME    VERSION
      7z a $NAME    "*.so"
      7z a $NAME    "Gothic2Notr"
      7z a $NAME    "Gothic2Notr.sh"
      }

    if($IsMacOS) {
      echo gothic-osx-v$env:APPVEYOR_BUILD_VERSION | Out-File "VERSION" -Encoding utf8

      $NAME = $BASE_NAME + '_osx.zip'
      7z a $NAME    VERSION
      7z a $NAME    "*.dylib"
      7z a $NAME    "Gothic2Notr"
      7z a $NAME    "Gothic2Notr.sh"
      }

artifacts:
  - path: build/opengothic/opengothic_win.zip
    name: archive_win
  - path: build/opengothic/devbuild_win.zip
    name: devbuild_win_vs2022
  - path: build/opengothic/opengothic_linux.zip
    name: archive_linux
  - path: build/opengothic/opengothic_osx.zip
    name: archive_osx

deploy:
  release: opengothic-v${APPVEYOR_BUILD_VERSION}
  description: 'no release description'
  provider: GitHub
  auth_token:
    secure: XkKdx4YECrADRtnQrWhLsm9Uhj3P7Vc/X4gN8UcZNCfbwvI2tJbsQVMzxwbCF25tgKpUr09nGi7HTmnwCc9BtD4EWAzNLstVOCZ8qV0/3N+iV0RN86WuzX3jVspc4LTS
  artifact: /archive.*/
  draft: true
  force_update: false
  prerelease: true
  tag: opengothic-v${APPVEYOR_BUILD_VERSION}
  on:
    APPVEYOR_REPO_TAG: true       # deploy on tag push only
