configuration:
  - release

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      GENERATOR: "Visual Studio 16 2019"
      VCVARSALL: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Auxiliary/Build/vcvarsall.bat"
      PLATFORM:  x64

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015  # used as mingw
      GENERATOR: "Ninja"
      CC:        C:/mingw-w64/x86_64-8.1.0-posix-seh-rt_v6-rev0/mingw64/bin/gcc.exe
      CXX:       C:/mingw-w64/x86_64-8.1.0-posix-seh-rt_v6-rev0/mingw64/bin/g++.exe

    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu2004
      GENERATOR: ""

install:
- ps: >-
    $VK_SDK = '1.2.170.0'

    if($IsLinux) {
      sudo apt-get update
      sudo apt-get --yes install libvulkan-dev libasound2-dev libx11-dev libxcursor-dev
      # Vulkan SDK
      $env:VK_SDK_PATH     = "$env:APPVEYOR_BUILD_FOLDER/VulkanSDK/$VK_SDK/x86_64"
      $env:VK_LAYER_PATH   = "$env:VK_SDK_PATH/etc/vulkan/explicit_layers.d"
      $env:LD_LIBRARY_PATH = "$env:VK_SDK_PATH/lib"
      Invoke-WebRequest -Uri https://sdk.lunarg.com/sdk/download/$VK_SDK/linux/vulkan_sdk.tar.gz -OutFile VulkanSDK.tar.gz
      mkdir VulkanSDK
      tar -xzf VulkanSDK.tar.gz -C ./VulkanSDK
      }

    if($IsWindows) {
      # Vulkan SDK
      $env:VK_SDK_PATH = "C:/VulkanSDK/$VK_SDK"
      Invoke-WebRequest -Uri https://sdk.lunarg.com/sdk/download/$VK_SDK/windows/vulkan_sdk.exe -OutFile VulkanSDK.exe
      ./VulkanSDK.exe /S
      }

    if($IsLinux) {
      # GLSL compiller
      mkdir glslang
      cd glslang
      Invoke-WebRequest -Uri https://github.com/KhronosGroup/glslang/releases/download/master-tot/glslang-master-linux-Release.zip -OutFile glslang-master.zip
      7z x glslang-master.zip
      cd ..
      $env:PATH += ":$env:APPVEYOR_BUILD_FOLDER/glslang/bin"
      }

    if($IsWindows) {
      mkdir glslang
      cd glslang
      Invoke-WebRequest -Uri https://github.com/KhronosGroup/glslang/releases/download/master-tot/glslang-master-windows-x64-Release.zip -OutFile glslang-master.zip
      7z x glslang-master.zip
      cd ..
      $env:PATH += ";$env:APPVEYOR_BUILD_FOLDER\glslang\bin"
      }

    if($IsMacOS) {
      brew install glslang
      }

before_build:
  # Prepare the out-of-source build directory.
  - git submodule -q update --init --recursive
  - mkdir build
  - cmd: PATH=C:/mingw-w64/x86_64-8.1.0-posix-seh-rt_v6-rev0/mingw64/bin;C:/Qt/Tools/QtCreator/bin;%Path%
  - ps:  echo '#pragma once'                                                               | Out-File "game/build.h" -Encoding utf8
  - ps:  echo "static const char* appBuild = `"OpenGothic v$env:appveyor_build_version`";" | Out-File "game/build.h" -Encoding utf8 -Append

build_script:
  - cmake --version
  - cmd: if NOT "%VCVARSALL%" == "" call "%VCVARSALL%" %PLATFORM%
  - cmd: cmake -H. -Bbuild -G "%GENERATOR%" -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo -DCMAKE_SH=CMAKE_SH-NOTFOUND
  - sh:  cmake -H. -Bbuild                  -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo
  - cmake --build ./build

after_build:
  # generate version string
  - cd build
  - cd opengothic
  - cmd: echo gothic-win64-v%appveyor_build_version% >> VERSION
  - sh:  echo gothic-linux-v%appveyor_build_version% >> VERSION
  - cmd: copy /b/y "C:\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\bin\libgcc_s_seh-1.dll"   "libgcc_s_seh-1.dll"
  - cmd: copy /b/y "C:\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\bin\libstdc++-6.dll"      "libstdc++-6.dll"
  - cmd: copy /b/y "C:\mingw-w64\x86_64-8.1.0-posix-seh-rt_v6-rev0\mingw64\bin\libwinpthread-1.dll"  "libwinpthread-1.dll"
  # zip the results
  - cmd: set name="opengothic_win.zip"
  - cmd: 7z a %name%    VERSION
  - cmd: 7z a %name% -r "*.exe"
  - cmd: 7z a %name% -r "*.dll"
  - cmd: 7z a %name% -r "*.bat"
  - sh:  export name="opengothic_linux.zip"
  - sh:  7z a $name     VERSION
  - sh:  7z a $name     "*"
  - sh:  7z a $name     "*"
  - sh:  7z a $name     "Gothic2Notr.sh"

artifacts:
  - path: build/opengothic/opengothic_win.zip
    name: archive

deploy:
  release: gothic-win64-v$(appveyor_build_version)
  description: 'no release description'
  provider: GitHub
  auth_token:
    secure: YLdtUMsAcc8FUr3kgwhQW7nkl5jDpLKbelvzWzzTWUfAiDd92Kd15rjlDJVEEFzo
  artifact: archive
  draft: true
  force_update: false
  prerelease: true
  tag: gothic-win64-v$(appveyor_build_version)
  on:
    branch: $(APPVEYOR_REPO_TAG_NAME)
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015 # mingw is default for now
    appveyor_repo_tag: true       # deploy on tag push only
