<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.vulkan.level" android:version="0" android:required="true" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x00401000" android:required="true" />
    <application android:label="OpenGothic" android:hasCode="true" android:allowBackup="false"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
        <activity android:name="org.opengothic.app.GothicActivity" android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout|smallestScreenSize|density|uiMode">
            <meta-data android:name="android.app.lib_name" android:value="Gothic2Notr" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
