#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

# Don't update autotools config files in submodules
override_dh_update_autotools_config:

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_BINDIR=games \
		-DZK_ENABLE_INSTALL=OFF \
		-DINSTALL_LIBS=OFF \
		-DINSTALL_CMAKE_FILES=OFF
